html, body, #root {
  height: 100%;
  margin: 0;
}

#sankey{
  min-height: 100vh;
  width: 100vw;
}

.full-screen-wrapper {
  width: 100%;
  height: 100vh; /* 100% высоты видимой области экрана */
  display: flex;
  justify-content: center;
  align-items: center;
}